src/n8n_workflows/ai_agent_track_statuses_enhanced.sanitized.json
{
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C09111P5JN6",
          "mode": "list",
          "cachedResultName": "project-status-update"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        32
      ],
      "id": "ad43b3f7-bde8-4c35-a2bc-6aa40f5bd576",
      "name": "Slack Trigger",
      "webhookId": "41c56194-b020-4634-8e88-f5b3d43da3f7",
      "credentials": {
        "slackApi": {
          "id": "h4hYe6hY0YHsd0no",
          "name": "Vira Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Ти інтелектуальний асистент, який допомагає командам відстежувати та аналізувати зміни статусів проектів у пайплайні розробки ігор. У тебе є доступ до бази даних 'Project Status Change Log' у Notion.\n\nСьогодні: {{ $now.format('yyyy-MM-dd') }}\n\n## КРИТИЧНО ВАЖЛИВО:\n1. **ВІДПОВІДАЙ ВИКЛЮЧНО УКРАЇНСЬКОЮ МОВОЮ**\n2. **НЕ ПОКАЗУЙ свої роздуми чи процес мислення - лише фінальну відповідь**\n3. **Назви проектів залишай англійською як є**\n\n## Твої можливості:\n1. Запити змін статусів за датою, командою, платформою чи статусом\n2. Аналіз трендів та патернів у потоці проектів\n3. Виявлення вузьких місць та надання інсайтів\n4. Генерація звітів з конкретними даними\n\n## Схема бази даних:\n- **Date**: Коли відбулася зміна (date)\n- **Project Name**: Назва проекту (rich_text)\n- **Platform**: GP, AMZ, iOS, Fire TV (select)\n- **Previous Status**: Попередній статус (status)\n- **New Status**: Новий статус (status)\n- **Team**: AMZ Production/Integration/Growth Team, Tools Team (select)\n- **Sub-team**: Growth, KHACHAPURI, FUJI тощо (select)\n\n## КРИТИЧНІ ПРАВИЛА ГЕНЕРАЦІЇ ФІЛЬТРІВ (Notion API стандарт):\n\n### ⚠️ НЕ ДОДАВАЙ property_ префікс! Використовуй назви як є:\n\n1. **Для полів Status (Previous Status, New Status) - тип status:**\n```json\n{\"property\": \"New Status\", \"status\": {\"equals\": \"QA\"}}\n{\"property\": \"Previous Status\", \"status\": {\"equals\": \"DEVELOPMENT\"}}\n```\n❌ НІКОЛИ НЕ використовуй select або rich_text для статусів!\n\n2. **Для полів Select (Team, Platform, Sub-team) - тип select:**\n```json\n{\"property\": \"Team\", \"select\": {\"equals\": \"AMZ Growth Team\"}}\n{\"property\": \"Platform\", \"select\": {\"equals\": \"iOS\"}}\n```\n\n3. **Для дат (Date) - тип date:**\n```json\n{\"property\": \"Date\", \"date\": {\"past_week\": {}}}\n{\"property\": \"Date\", \"date\": {\"equals\": \"2024-12-19\"}}\n```\n\n4. **Для тексту (Project Name) - тип rich_text:**\n```json\n{\"property\": \"Project Name\", \"rich_text\": {\"contains\": \"Chess\"}}\n```\n\n### КОЛИ TOOL ЗАПИТУЄ 'Filters__JSON_':\n\nПовертай ЛИШЕ чистий JSON рядок, без markdown, без пояснень. Приклади:\n\nДля 'покажи проекти в QA':\n{\"property\": \"New Status\", \"status\": {\"equals\": \"QA\"}}\n\nДля 'команда AMZ Growth':\n{\"property\": \"Team\", \"select\": {\"equals\": \"AMZ Growth Team\"}}\n\nДля 'цей тиждень':\n{\"property\": \"Date\", \"date\": {\"past_week\": {}}}\n\nДля 'сьогодні':\n{\"property\": \"Date\", \"date\": {\"equals\": \"{{ $now.format('yyyy-MM-dd') }}\"}}\n\nДля 'заблоковані':\n{\"or\": [{\"property\": \"New Status\", \"status\": {\"equals\": \"BLOCKED\"}}, {\"property\": \"Previous Status\", \"status\": {\"equals\": \"BLOCKED\"}}]}\n\nДля 'всі записи' або коли фільтр не потрібен:\n{}\n\n## ВАЛІДНІ СТАТУСИ (точне написання):\nBACKLOG, GD CTR TEST, CTR TEST, CTR TEST DONE, CTR ARCHIVE, WAITING FOR DEV, DEVELOPMENT, QA, WAITING RELEASE, RELEASE POOL, CREO PRODUCTION, CREO DONE, UA TOP SPENDERS, LIVE, UA TEST, UA BOOST, UA SETUP, UA, AUTO UA, PAUSED, UA PAUSED, SHADOW BAN, BLOCKED, ARCHIVE, SUSPENDED, REJECTED, Complete\n\n## ВАЛІДНІ КОМАНДИ:\nAMZ Production Team, AMZ Integration and Port Team, AMZ Growth Team, Tools Team\n\n## ВАЛІДНІ ПЛАТФОРМИ:\nGP, AMZ, iOS, Fire TV\n\n## Формат відповіді:\n- Починай з прямої відповіді на запитання\n- Включай конкретні числа та назви проектів\n- Використовуй емодзі: 📊 Статистика, 👥 Команди, 🚀 Платформи, ⚠️ Проблеми\n- ЗАВЖДИ пиши українською (крім назв проектів)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        32
      ],
      "id": "e5e205d2-9b79-426f-a918-75018e7bbf22",
      "name": "AI Agent",
      "notes": "Enhanced AI Agent with comprehensive system prompt for project status tracking"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Slack Trigger').item.json.user + '_' + $('Slack Trigger').item.json.channel }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -128,
        224
      ],
      "id": "5cdcac80-d824-4619-9972-6b3b6be04e34",
      "name": "Conversation Memory",
      "notes": "Maintains conversation context for follow-up questions"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "https://www.notion.so/YOUR_WORKSPACE/YOUR_DATABASE_ID_HERE?v=YOUR_DATABASE_ID_HERE&source=copy_link",
          "mode": "url"
        },
        "returnAll": true,
        "filterType": "json",
        "filterJson": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filters__JSON_', `{}`, 'string') }}",
        "options": {
          "downloadFiles": false
        }
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        96,
        224
      ],
      "id": "20376499-07d2-4233-bda3-ba484b373845",
      "name": "Query Project Status Log",
      "credentials": {
        "notionApi": {
          "id": "dvG81BygcxjHVM4C",
          "name": "Manager's Home"
        }
      },
      "notes": "Queries the Project Status Change Log database with dynamic filters"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09111P5JN6",
          "mode": "list",
          "cachedResultName": "project-status-update"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        256,
        32
      ],
      "id": "fb5d1194-8b1a-41f1-9739-1e81b1107986",
      "name": "Send Response",
      "webhookId": "f27dd0a4-85da-4244-aa5d-554c24c32461",
      "credentials": {
        "slackOAuth2Api": {
          "id": "jfBtwyKgUkoxl3LD",
          "name": "Slack account Vira Games"
        }
      },
      "notes": "Sends the AI response back to Slack in thread"
    },
    {
      "parameters": {
        "model": "=us.anthropic.claude-sonnet-4-20250514-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1,
      "position": [
        -352,
        224
      ],
      "id": "1c835ec5-bda6-4dc0-9765-501e08c68772",
      "name": "AWS Bedrock Claude",
      "credentials": {
        "aws": {
          "id": "ygdVHEZPhZgbL3vD",
          "name": "AWS account"
        }
      },
      "notes": "Claude 3.5 Sonnet model for intelligent query processing"
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Query Project Status Log": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Claude": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_DATABASE_ID_HEREYOUR_DATABASE_ID_HERE"
  }
}